/target
*.log
dist/
coursework_docs/
tarpaulin-report.html
*.profraw
test-data*/
data/
*.bak
Temp/
.monodb_history
nul
.DS_Store
build/
crates/monodb-server/Temp*
.vscode
certs/
local/
.zed/
.mdb_history