[package]
name = "testing"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
tokio.workspace = true
anyhow.workspace = true
tokio-rustls = "0.26.4"
rustls = "0.23.35"
webpki-roots = "1.0.4"
